<configuration scan="true" scanPeriod="60 seconds" debug="true">  

  
<contextListener class="hazelcast_examples.logging.LoggerStartupListener" /> 
       <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">   
    <!-- encoder 默认配置为PatternLayoutEncoder -->   
    <encoder>   
    <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level  - %replace(%replace(%caller{1}){'Caller\+0	 at', ''}){'\r\n', ''} %msg%n</pattern>
    </encoder>   
  </appender>   

  <root level="DEBUG">             
    <appender-ref ref="STDOUT" />   
  </root>     
</configuration>